@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    align-items: center;
    background-color: rgb(150, 212, 250);
}

header {
    background-color: #eadcff;
    height: 100vh-70px;
    padding: 24px; 
    display: flex;
    align-items: center;
    justify-content: center;
}   

h1  {
    font-size: 72px;
}

.subheader {
    font-size: 36px;
    margin-top: 16px 0 24px 0;
}

button {
    background-color: #057cf0;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 24px;
}   

.logo {
    width: 300px;
}

ul {
    display: flex;
}
li {
    list-style: none;
    padding-left: 16px;
    align-items: center;
}

.row {
    width: 100%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*

*/

#about {
    padding: 40ppx 0;
    background-color: #e3fd79;
}

h2 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 24px;
}

.section__description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__img--wrapper    {
    width: 40%;
    padding: 0 24px;         
}

.img        {
    width: 100%;
}
.section__description--wrapper {
    width: 60%;
    padding: 0 24px;
}
.section__description--para {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 24px;
}   


footer {
    background-color: #d2ee64;
    color: black;
    text-align: center;
    padding: 16px;
    position: relative;
    bottom: 0;
    width: 100%;
}
foote